<f:layout name="Bootstrap" />

<f:section name="Title">
	<f:translate>Folder</f:translate> {folder.name}
</f:section>

<f:section name="Content">

	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<thead>
				<tr>
					<th>
						<f:translate>Folders in </f:translate>
						<f:if condition="{folder.parentFolder}">
							<f:then>
								<f:link.action action="index" arguments="{folder:folder.parentFolder}">
									{folder.name}
								</f:link.action>
							</f:then>
							<f:else>
								<f:link.action action="index" controller="workspace">
									{folder.name}
								</f:link.action>
							</f:else>
						</f:if>

					</th>
					<th>
						<f:link.action action="new" arguments="{parentFolder:folder}"  title="{f:translate(value:'create a new folder')}" class="pull-right">
							<span class="glyphicon glyphicon-plus-sign"></span>
						</f:link.action>
					</th>
				</tr>
				</thead>
				<f:for each="{folder.folders}" as="subfolder">
					<tr>
						<td>
							<f:link.action action="index" controller="folder" arguments="{folder:subfolder}">
								{subfolder.name}
							</f:link.action>
						</td>
						<td>
							<f:link.action action="edit" arguments="{subfolder:workspace}" class="pull-right">
								<span class="glyphicon glyphicon-pencil"></span>
							</f:link.action>
						</td>
					</tr>
				</f:for>
			</table>
		</div>
		<div class="col-md-6">
			<table class="table">
				<thead>
				<tr>
					<th>
						<f:translate>Files of </f:translate> {folder.name}
					</th>
					<th>
						<f:link.action action="new" controller="file" arguments="{parentFolder:folder}"  title="{f:translate(value:'create a new file')}" class="pull-right">
							<span class="glyphicon glyphicon-plus-sign"></span>
						</f:link.action>
					</th>
				</tr>
				</thead>
				<f:for each="{folder.files}" as="file">
					<tr>
						<td>
							<f:link.action action="getContent" controller="file" arguments="{file:file}">
								{file.name}
							</f:link.action>
						</td>
					</tr>
				</f:for>
			</table>
		</div>
	</div>

</f:section>