<f:layout name="Bootstrap" />

<f:section name="Title">
	<f:translate>{f:translate(value:'workspace')}</f:translate> {workspace.name}
</f:section>

<f:section name="NavigationBar">
<ul class="nav navbar-nav">
	<li>
		<f:link.action action="index" title="zurück"><span class="glyphicon glyphicon-chevron-left"></span> zurück</f:link.action>
	</li>
</ul>
</f:section>

<f:section name="Content">
	<div class="panel panel-default">
		<div class="panel-heading">
			<f:translate>{f:translate(value:'edit workspace')}</f:translate>
		</div>
		<div class="panel-body">
			<f:form action="update" name="workspace" object="{workspace}">
				<f:render partial="Workspace/Form" arguments="{workspace:workspace}"/>
				<f:form.button class="btn btn-default">
					<f:translate>{f:translate(value:'save workspace')}</f:translate>
				</f:form.button>
			</f:form>
		</div>
	</div>

</f:section>
