<f:layout name="Bootstrap" />

<f:section name="Title">
	<f:translate>Workspaces</f:translate>
</f:section>

<f:section name="Content">

	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<thead>
				<tr>
					<th>
						Workspaces
					</th>
					<th>
						<f:link.action action="new" title="{f:translate(value:'create a new workspace')}" class="pull-right">
							<span class="glyphicon glyphicon-plus-sign"></span>
						</f:link.action>
					</th>
				</tr>
				</thead>
				<f:for each="{workspaces}" as="workspace">
					<tr>
						<td>
							<f:link.action action="index" controller="folder" arguments="{folder:workspace.folder}">
								<span class="glyphicon glyphicon-briefcase"></span>
								{workspace.name}
							</f:link.action><br>
							<small>
								<f:format.nl2br>{workspace.description}</f:format.nl2br>
							</small>
						</td>
						<td>
							<f:link.action action="edit" arguments="{workspace:workspace}" class="pull-right">
								<span class="glyphicon glyphicon-pencil"></span>
							</f:link.action>
						</td>
					</tr>
				</f:for>
			</table>
		</div>
	</div>
</f:section>