<f:layout name="Bootstrap" />

<f:section name="Title">
	<f:translate>create a new workspace</f:translate>
</f:section>

<f:section name="Content">
	<div class="panel panel-default">
		<div class="panel-heading">
			<f:translate>create a new workspace</f:translate>
		</div>
		<div class="panel-body">
			<f:form action="create" name="workspace" object="workspace" class="form-horizontal">
				<f:render partial="Workspace/Form" />
				<f:form.button class="btn btn-default">
					<f:translate>create a new workspace</f:translate>
				</f:form.button>
			</f:form>
		</div>
	</div>

</f:section>