<f:layout name="Bootstrap" />

<f:section name="Title">
	<f:translate>{f:translate(value:'new file')}</f:translate>
</f:section>

<f:section name="Content">
	<div class="panel panel-default">
		<div class="panel-heading">
			<f:translate>{f:translate(value:'new file')}</f:translate>
		</div>
		<div class="panel-body">
			<f:form action="create" name="file" object="file" enctype="multipart/form-data">
				<f:form.hidden property="parentFolder" value="{parentFolder}" />
				<f:render partial="File/Form" arguments="{file:file, parentFolder:parentFolder}" />
				<f:form.button class="btn btn-default">
					<f:translate>{f:translate(value:'create a file')}</f:translate>
				</f:form.button>
			</f:form>
		</div>
	</div>

</f:section>

